{{#if isNotFullmenu}}
<div id="restaurant-page">
    <header>
        <nav>
            {{#link-to 'discover'}}
                <span class="back"> Back</span>
            {{/link-to}}
            <div class="zipcode">
                <p>{{zipCode}}</p>
                <p>{{city}}</p>
            </div>
            {{#link-to 'cart'}}
                <span class="cart glyphicon glyphicon-shopping-cart"></span>
            {{/link-to}}
        </nav>
    </header>
    <section class="restaurant-intro">
        <img {{bind-attr src=foodImage}} {{action 'changeImage'}} />  
        <div>
            <p class="restaurant-name">{{name}}</p>
            <p>{{type}}</p>
            <p>TODAY: {{openHours}}</p>
        </div>
    </section>
    <section class="information">
        <p>Information</p>
        <p>Accept Credit Card: {{acceptCreditCard}}</p>
        <p>Phone: {{phone}}</p>
        <p>Website: {{website}}</p>
        <p class="location">{{address}}</p>
        <img src="/images/map.jpg" />
    </section>
    <section class="comments">
        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
        <p>Comments</p>
        <p>Tim: Awesome hotpot and milktea!</p>
        <p>Nick: Best little hotpot in Bayarea!</p>
        <a href="comments.html">All Reviews</a>
    </section>
    <footer>
        <nav>
            {{#link-to 'restaurant.fullmenu'}}FULL MENU{{/link-to}}
        </nav>
    </footer>
</div>
{{/if}}
{{outlet}}